<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="css/aboutus.css" />
    <link rel="stylesheet" href="css/utility.css">
    <title>FIX IT PRO - About Us</title>
  </head>
  <body>
    <%- include('navbar') %>
    <section class="hero">
      <div class="hero-content">
        <div class="hero-text">
          <div class="tagline">
            <p>
              Crafting solutions, building trust discover the story behind Fix
              It Pro.
            </p>
          </div>
        </div>
        <div class="hero-image">
          <img src="img/aboutus/aboutuslogo.jpg" alt="heroimg" />
        </div>
      </div>
    </section>

    <section class="vision-mission">
      <h1>About Us</h1>
      <div class="description">
        <p>
          Fix It Pro is committed to simplifying home repairs by connecting
          homeowners with skilled local workers. Our platform ensures
          transparency, reliability, and user satisfaction, creating a seamless
          experience for both customers and workers. Join us in transforming and
          enhancing the home repair process.
        </p>
      </div>
      <div class="vision">
        <h2>Vision</h2>
        <p>
          Empowering homeowners and local workers through a seamless,
          technology-driven platform, making home repairs accessible to all.
        </p>
      </div>

      <div class="mission">
        <h2>Mission</h2>
        <p>
          Simplifying the home repair process by connecting users with skilled
          local workers, fostering trust, efficiency, and convenience.
        </p>
      </div>
    </section>

    <section class="features">
      <div class="feature">
        <img src="img/aboutus/experience.jpg" alt="Experience" />
        <h3>3+ Years Experience</h3>
      </div>

      <div class="feature">
        <img src="img/aboutus/satisfaction.jpg" alt="Satisfaction" />
        <h3>1786+ Happy Customers</h3>
      </div>

      <div class="feature">
        <img src="img/aboutus/workers.jpg" alt="Workers" />
        <h3>1200+ Skilled Workers</h3>
      </div>

      <div class="feature">
        <img src="img/aboutus/star.jpg" alt="Rating" />
        <h3>4.5+ Overall Rating</h3>
      </div>
    </section>

    <%- include('footer') %>
  </body>
</html>
