/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.part-1 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  background-color: #262626; /* Darker background color */
  padding: 20px;
  color: #fff;
  overflow-y: auto; /* Enable vertical scrolling */
}

.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-image img {
  width: 150px;
  height: 150px;
  padding: 3px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #fff;
}

.user-name p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Sidebar menu styles */
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu ul li {
  margin: 10px 0;
  text-align: center;
}

.sidebar-menu ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s; /* Add transitions for smoother hover effects */
}

.sidebar-menu ul li a:hover {
  background-color: #4a4a4a; /* Darker background color on hover */
  color: #00eaff; /* Brighter text color on hover */
 /* color: #ffcc00;*/ /* Brighter text color on hover */
}
.sidebar-menu ul li:last-child a:hover {
  color: #ff0000; /* Red text color on hover for the last link */
}

.sidebar-menu ul li hr {
  border: none;
  border-top: 1px solid #aaa;
  margin: 10px 0;
}

.main-content {
  margin-left: 18%;
}

.profile-card {
  margin: 20px auto;
  width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-image #proimg {
  width: 150px;
  height: 150px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #000;
}

.edit-profile {
  position: relative;
  bottom: 30px;
  right: 30px;
  text-align: center;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile img {
  width: 27px; 
  height: 27px; 
  vertical-align: middle;
}

.user-info {
  padding: 10px;
}

.section-heading {
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.edit-profile-info {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border:1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.edit-profile-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.edit-profile-info:hover {
  background-color: #cccccc;
}

.info-item {
  margin-bottom: 20px;
}

.info-item label {
  font-weight: bold;
}

.info-item input,
.info-item select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
}

/* Action buttons for user information editing */
.action-buttons {
  text-align: right;
  margin-top: 20px;
}

.save-info-button,
.cancel-info-button {
  display: none;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-info-button:hover,
.cancel-info-button:hover {
  background-color: #0056b3;
}

/* Additional styling for image editing */
.image-action-buttons {
  text-align: center;
  margin-top: 20px;
}

.image-action-buttons .save-button,
.image-action-buttons .cancel-button,
.save-image-button,
.cancel-image-button {
  display: none;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-image-button:hover,
.cancel-image-button:hover,
.save-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}
